
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="jumbotron" style="text-align:center;">
    @Html.ActionLink("INSERT","Insert","operation")

</div>
<div class="jumbotron" style="text-align:center;">
    @Html.ActionLink("VIEW", "Detail", "operation")

</div>
